@import "variables";

.canvas {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 10px 15px 8px -3px rgba(0,0,0,0.7);
  background-color: white;
  &__inner {
    height: 100%;
    position: relative;
  }
  div[class^="canvas_text"] {
    position: absolute;
    padding: 8px 15px;
  }

  div[class^="canvas_text"].is-active {
    border: 1px solid $l-blue;
    outline: none
  }
}

input[type="text"] {
  border: none;
  outline: none;
}

@media print {
  body {
    background-color: white;
  }
  .header, .footer, .editnav {
    visibility: hidden;
  }
  .canvas {
    border: 1px solid $olive;
    box-shadow: none;
    // 選択中要素の枠削除
    div[class^="canvas_text"].is-active {
      border: none;
    }
  }
}