@import "variables";

.editmodal {
  position: absolute;
  bottom: 37px;
  z-index: 10;
  width: 100%;
  animation: SlideIn .5s;
  &__header {
    color: $white;
    background-color: $brown;
    padding: 12px 30px;
    opacity: .9;
    letter-spacing: 3px;
  }
  &__inner {
    color: $white;
    padding: 10px 0px 40px 10px;
    background-color: $olive;
    opacity: .6;
    ul {
      padding: 0 20px;
    }
    li {
      font-size: 22px;
      list-style: none;
      margin: 20px 0;
      span {
        margin-left: 6px;
        font-size: 20px;
      }
    }
    input {
      display: inline-block;
      font-size: 16px;
    }
  }
  &__select {
    width: 35%;
  }
  &__btn {
    margin: 20px 20px 20px 0;
    padding: 10px 70px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    letter-spacing: 5px;
    box-shadow: 4px 6px;
  }
}

@keyframes SlideIn {
  0% {
    opacity: 0;/*初期状態では透明に*/
    transform: translateY(64px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
