@import "variables";

.editnav {
  width: 80px;
  background-color: $white;
  &__inner {
    text-align: center;
    ul {
      margin: 10px 0;
      padding: 0;
    }
    li {
      cursor: default;
      margin: 10px 0;
      list-style: none;
      color: $blue;
      font-size: 14px;
      letter-spacing: 1px;
    }
    div {
      cursor: pointer;
    }
  }
  &__logo {
    margin: auto;
    width: 50%;
    :active {
      width: 95%;
    }
  }
}

#Capa_1 {
  fill: $l-blue;
}
#Capa_1:hover {
  fill: $l-hblue;
}