@import "variables";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  &__inner {
    text-align: center;
    background-color: $brown;
    padding: 5px;
  }
  &__title {
    font-size: 18px;
    font-weight: normal;
    color: $white;
    letter-spacing: 1px;
  }
}